# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\aevstratov\PhpstormProjects\sct\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/tasks-master/public/js/app.js
/tasks-master/public/css/app.css
/tasks-master/config/*.php
/tasks-master/tests/**/ExampleTest.php
/tasks-master/public/js/
/tasks-master/public/css/

