body {
    background-color: black;
    color: white;
}

.bor {
    border: 1px solid white;
    padding: 20px;
    overflow: hidden;
    width: 85%;
    margin: 150px auto;
}

.textcols {
    height: 250px;
    width: 30%;
    float: left;
    padding-left: 1.5%;
    padding-right: 1.5%;
}
