/*Блок меню*/
h3 {
    padding-left: 10px;
}
.left_panel {
    background: #e7d8a8;
    float: left;
    margin: 0 0 0 5px;
    padding-right: 10px;
    width: 125px;
}
.navbar {
    padding-left: 10px;
}
.navbar > li {
    color: black;
    list-style-type: none;
    padding: 10px 0;
    text-decoration: none;
}
.navbar > li  a {
    color: black;
    text-decoration: none;
    width: 100%;
}


/*Блок с картинками*/
img {
    width: 150px;
}
.content_panel {
    background: #ebbfa3;
    display: flex;
}
.picture {
    background-color: white;
    border: 1px solid black;
    float: left;
    height: 160px;
    margin: 10px;
    padding: 10px 10px 25px 10px;
    text-align: center;
    width: 150px;
}
.new_string {
    clear: both;
    padding: 70px 0 20px 10px;
}


/*Подвал*/
.bottom_panel {
    background: #995044;
    clear: both;
    color: white;
    margin-left: 5px;
    padding: 10px;
}