
.left_panel {
    background: #a4a435;
    width: 35%;
    height: 100px;
    float: left;
    margin-bottom: 10px;
}
.main_panel {
    float: right;
    background: cadetblue;
    height: 100px;
    width: 60%;
    margin-bottom: 10px;
}

.bottom_panel {
    clear: both;
    background: darkolivegreen;

}


